<div class="flex flex-col lg:flex-row flex-1 w-full overflow-auto">
  <hlm-resizable-group class="h-full w-full rounded-lg border">
    <hlm-resizable-panel [minSize]="40">
      <ng-diagram class="flex-1" [model]="model" [config]="config" [edgeTemplateMap]="edgeTemplateMap"
        (selectionChanged)="onSelectionChanged($event)" (edgeDrawn)="onEdgeDrawn($event)" />
    </hlm-resizable-panel>
    <hlm-resizable-handle />
    <hlm-resizable-panel [minSize]="20">
      <hlm-resizable-group direction="vertical">
        <hlm-resizable-panel [minSize]="20">
          <div class="h-full overflow-auto p-4">
            <app-workflow-controls [selectedNodeId]="selectedNodeId" [selectedNodeData]="selectedNodeData"
              [selectedEdgeId]="selectedEdgeId" [selectedEdgeData]="selectedEdgeData"
              [availableNodes]="getAvailableNodes()" (nodeUpdate)="onNodeUpdate($event)"
              (nodeDelete)="onNodeDelete($event)" (edgeUpdate)="onEdgeUpdate($event)"
              (edgeDelete)="onEdgeDelete($event)">
            </app-workflow-controls>
          </div>
        </hlm-resizable-panel>
        <hlm-resizable-handle />
        <hlm-resizable-panel [minSize]="10">
          <div class="h-full overflow-auto">
            <app-global-actions [config]="workflowConfig" [addNode]="addNode.bind(this)"
              [centerView]="centerView.bind(this)" (configChange)="onConfigChange($event)"
              (exportWorkflow)="onExportWorkflow()" (importWorkflow)="onImportWorkflow($event)"
              (clearWorkflow)="onClearWorkflow()">
            </app-global-actions>
          </div>
        </hlm-resizable-panel>
      </hlm-resizable-group>
    </hlm-resizable-panel>
  </hlm-resizable-group>
</div>