<div hlmSidebarWrapper class="flex-col min-h-screen">
    <ng-content select="[header]" />
    <div class="flex flex-1">
        <hlm-sidebar sidebarContainerClass="top-(--header-height) h-[calc(100dvh-var(--header-height))]">
            <hlm-sidebar-header>
                <ul hlmSidebarMenu>
                    <li hlmSidebarMenuItem>
                        <a hlmSidebarMenuButton size="lg" href="#">
                            <div
                                class="bg-sidebar-primary text-sidebar-primary-foreground flex aspect-square size-8 items-center justify-center rounded-lg">
                                <ng-icon name="lucideCommand" class="text-base" />
                            </div>
                            <div class="grid flex-1 text-left text-sm leading-tight">
                                <span class="truncate font-medium">Acme Inc</span>
                                <span class="truncate text-xs">Enterprise</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </hlm-sidebar-header>

            <hlm-sidebar-content>
                <app-nav [items]="data.navMain" />
                <app-nav-projects [projects]="data.projects" />
                <app-nav-secondary class="mt-auto" [items]="data.navSecondary" />
            </hlm-sidebar-content>
            <hlm-sidebar-footer>
                <app-nav-user [user]="data.user" />
            </hlm-sidebar-footer>
        </hlm-sidebar>
        <ng-content />
    </div>
</div>