<div class="flex flex-col flex-1 w-full h-full">
  <div class="space-y-3">
    <h1 class="text-lg font-semibold">Control Panal</h1>

    <button hlmBtn (click)="addNode()">New Node</button>

    <button hlmBtn variant="secondary" (click)="centerView()">
      Center View
    </button>
  </div>
  <div class="flex flex-col flex-1 h-full">
    <app-form-builder class="flex flex-col flex-1 h-full" [formObject]="formObject"></app-form-builder>
    <div class="flex flex-row gap-2">
      <button hlmBtn class="flex-1" variant="outline">Save</button>
      <button hlmBtn class="flex-1" variant="destructive">Delete</button>
    </div>
  </div>
</div>