<div class="flex flex-col flex-1 w-full h-full">
  <h1 class="text-lg font-semibold mb-3">Properties</h1>

  <div class="flex flex-col flex-1 h-full">
    @if (selectedNodeId) {
    <app-node-form [nodeId]="selectedNodeId" [nodeData]="selectedNodeData" (save)="onNodeSave($event)"
      (delete)="onNodeDelete($event)">
    </app-node-form>
    } @else if (selectedEdgeId) {
    <app-edge-form [edgeId]="selectedEdgeId" [edgeData]="selectedEdgeData" [availableNodes]="availableNodes"
      (save)="onEdgeSave($event)" (delete)="onEdgeDelete($event)">
    </app-edge-form>
    } @else {
    <div class="flex items-center justify-center flex-1 text-muted-foreground">
      <span>Select a node or edge to edit</span>
    </div>
    }
  </div>
</div>