<header class="bg-background sticky top-0 z-50 flex w-full items-center border-b">
    <div class="flex h-(--header-height) w-full items-center gap-2 px-4">
        <button hlmSidebarTrigger></button>
        <hlm-separator orientation="vertical" class="mr-2" />
        <nav hlmBreadcrumb class="hidden sm:block">
            <ol hlmBreadcrumbList>
                <li hlmBreadcrumbItem>
                    <a hlmBreadcrumbLink link="/">Building Your Application</a>
                </li>
                <li hlmBreadcrumbSeparator></li>
                <li hlmBreadcrumbItem>
                    <a hlmBreadcrumbPage>Data Fetching</a>
                </li>
            </ol>
        </nav>

        <div hlmInputGroup class="w-full sm:ml-auto sm:w-auto">
            <input hlmInputGroupInput placeholder="Type to search..." />
            <div hlmInputGroupAddon>
                <ng-icon name="lucideSearch" />
            </div>
        </div>
        <app-mode-toggle></app-mode-toggle>
    </div>
</header>