<hlm-sidebar-group>
  <div hlmSidebarGroupLabel>Projects</div>
  <ul hlmSidebarMenu>
    @for (project of projects(); track $index) {
      <li hlmSidebarMenuItem>
        <a hlmSidebarMenuButton [routerLink]="project.url">
          <ng-icon [name]="project.icon" />
          {{ project.name }}
        </a>
        <button
          hlmSidebarMenuAction
          showOnHover
          [hlmDropdownMenuTrigger]="menu"
          [hlmDropdownMenuTriggerData]="{ $implicit: { project } }"
          [side]="_menuSide()"
          [align]="_menuAlign()"
        >
          <ng-icon name="lucideEllipsis" />
          <span class="sr-only">More</span>
        </button>
      </li>
    }
    <li hlmSidebarMenuItem>
      <button hlmSidebarMenuButton>
        <ng-icon name="lucideEllipsis" />
        More
      </button>
    </li>
  </ul>
</hlm-sidebar-group>

<ng-template #menu let-ctx>
  <hlm-dropdown-menu class="w-48">
    <hlm-dropdown-menu-group>
      <hlm-dropdown-menu-label>{{
        ctx.project.name
      }}</hlm-dropdown-menu-label>
    </hlm-dropdown-menu-group>
    <hlm-dropdown-menu-separator />
    <button hlmDropdownMenuItem>
      <ng-icon name="lucideFolder" />
      View Project
    </button>
    <button hlmDropdownMenuItem>
      <ng-icon name="lucideShare" />
      Share Project
    </button>
    <hlm-dropdown-menu-separator />
    <button hlmDropdownMenuItem>
      <ng-icon name="lucideTrash2" />
      Delete Project
    </button>
  </hlm-dropdown-menu>
</ng-template>
